body {
	background-color: #f5f5f5;
}

.header {
	background-color: white;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	margin: 0 auto 20px auto;
}

#logobox {
	background:url("/static/img/survey_logo.png");
	background-size:100% 100%;
	height: 50px;
	width: 50px;
	margin-top:5px;
}

#ucblogo {
	background:url("/static/img/ucblogo.png") no-repeat;
	margin: 20px auto 0 auto;
	width: 600px;
	height: 150px;
}

#ucbtext {
	height: 150px;
	width: 400px;
	margin-left: 170px;
}

.navmenu {
	width:260px;
	display: inline-block;
	float: left;
}

.navlist {
	margin:0;
	display: inline-block;
}

#signup {
	color: #8C001A;
}

#signup:hover {
	color: white;
}

.navlist a {
	width: 230px;
	margin: 0 0 20px 0;
	padding: 20px 0;
	float: left;
	list-style:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	background-color: white;
	text-align: center;	
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
	box-shadow: black 0px 2px 5px;
}

.navlist a:hover {
	background-color: #08c;
	color: white;
}

.navlist a:hover li {
	font-color: white;
}

#hidden {
	position: absolute;
	width: 250px;
	top: 241px;
}

#theresearchers {
	margin-top: 20px;
}

#togglebottom {
	display: inline-block;	
}

#hidden a {
	width: 180px;
	margin: 0 0 0 42px;
	font-size: 1.2em;
	padding: 10px 0;
	border-left: solid white 8px;
}

#hidden a:hover {
	border-left: solid #1b4a79 8px;
}

.navmenu a {
	text-decoration:none;
}

.navmenu a:hover {
	text-decoration:none;	
}

#instructions {
	margin-bottom: 0;
}

#homebutton {
	float:left;
}

#title {
	float:left;
	color: #1b4a79;
}

#title:hover {
	text-decoration:none;
}



/*  CONTENT  */



.content {
	float: right;
}


/* INDEX */

#wrapper {
	width: 1200px;
	margin: 0 auto;
	display: block;
	position: relative;
}

#splashimg {
	height: 525px;
	background-image: url('/static/img/splash.jpg');
	position: relative;
}

#splashbanner {
	position: absolute;
	bottom: 15px;
}

.graybackground {
	position: absolute;
	bottom: 0px;
	height: 200px;
	width: 940px;
	background-color: black;
	opacity: .6;
}

#welcomemessage {
	line-height: 1;
}

.overlaytext {
	text-shadow: 0px 0px 7px black;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	text-align: center;
	font-size: 2.7em;
}

.mediumtext{
	letter-spacing: 0px;
	font-size: 1.3em;
}


/* BASE */

.shadow {
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); 
	box-shadow: 0px 0px 15px;
}

.box {
	border-style:solid;
	border-width: 1px;
	border-color: black;
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
	box-shadow: 3px 3px 10px;
}

.left {
	text-align: left;
}

.left h4{
	text-align: left;
}

.spacing {
	margin-bottom: 20px;
}

.box h5 {
	text-align: center;
}

.linkbox {
	padding: 5px 15px;
	border-style:solid;
	border-width: 2px;
	border-color: #dadada;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
	box-shadow: 3px 3px 10px;
	background-color: rgba(255, 255, 255, 0.7);
}

.linkbox:hover {
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); 
	box-shadow: 3px 3px 10px;
}

.surveybox {
	height: 400px;
	width: 800px;
}

.centerimg {
	display: block;
	margin: 0 auto 0 auto;
}

.centertext h1,h2,h3,h4,h5,h6 {
	text-align: center;
}


.footer {
	width: 1200px;
	margin: 20px auto 0 auto;
	padding-top: 5px;
	border-top: 2px solid gray;
	text-align: center;
	float: right;
}

#consentbutton {
	height: 50px;
	width: 350px;
	font-size: 1.4em;
	margin: 0 0 0 225px;
	background-color: #D0D0D0;
	border-style:solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: black;
	text-align: center;
	color: black;
	text-decoration: none;
	padding-top: 5px;
}

#consentbutton:hover {
	box-shadow: 0px 0px 2px;
}

a:hover {
	text-decoration: none;
}
