{% extends "base.html" %}

{% block title %} About the Study {% endblock title %}

{% block content %}

	<div class='row'>
		<div class="span10 centertext"> <h2> The Study: </h2> </div>
	</div>

	<div class='row'>
		
		<div class='span5 box'>
			<h4> About the Study (Improving Your Commute) </h4>
			<p> UC Berkeley in conjunction with the San Francisco MTA are looking to gather feedback and data regarding the transit experience of everyday communters just like you. Your privacy regarding your data is important to us, and you can view our confidentiality policies <a href="/privacy/"> here. </a> </p>
		</div>
		
		<div class='span5 box'>
			<h4> What Does it Involve? (Using the App) </h4>
			<p> After installing the apk file onto your Android smartphone, you will be prompted to answer a few 10-15 second surveys following your trips on Muni. For the duration of the experiment, we will cover the costs of riding Muni. </p>
		</div>

	</div>
	
	<div class='row'>
	
		<div class='span5 box' style="margin-top: 25px;">
				<h4> How Do I Sign Up? </h4>
				<p> Visit our <a href="/signup/">Sign Up Page.</a></p>
			</div>
	
	</div>

{% endblock content %}