{% extends "base.html" %}

{% block title %} About the Study {% endblock title %}

{% block content %}

	<div class='row' style="margin-top: 20px;">
		
		<div class='span10 offset1'>
				<p> Hi, and welcome! My name is Andre Carrel, and I am conducting this study as the main part of my PhD dissertation research at the University of California, Berkeley. </p> </br>

			<h4> What is this study about? </h4>

				<p> With this study, I want to understand how the quality of public transportation in San Francisco impacts the way you travel in the city, and in particular how it affects your willingness to use Muni now and in the future. </p>

				<p> I am really interested in your personal experience while traveling, especially in unreliability you might experience. In the mini-surveys that you will take after some of your trips, I would like to know whether there was something about the quality of that trip that pleased you or made you upset. </p> </br>

			<h4> What does it involve? </h4>

				<p> You don’t need to be a current Muni rider, but as part of the study, you should be willing to <span style="font-weight:bold"> use Muni during one of the study weeks </span> (at least 10 trips). </p>

				<p> In total, you are enrolled in the study for five weeks, but don’t worry, I won’t ask for much of your time. You’ll receive an <span style="font-weight:bold"> app to install </span> on your <span style="font-weight:bold"> Android smartphone </span> that you’ll keep installed on your phone. The app collects location data to help me figure out when/where you traveled and occasionally asks you to fill out a 15-second <span style="font-weight:bold"> mini-survey on the phone. </span> In addition, there are 2-3 surveys that you take on your computer (maximum 10 minutes each). </p>

				<p> As a thank you, you will receive a free monthly Muni pass worth $66. </p>

				<p> Of course your location data and survey answers are kept as confidential as possible – please also see the paragraph on privacy below. </p> </br>

			<h4> Who can participate? </h4>

				<p> I’m looking for people who live, work and/or go to school in San Francisco – in other words, people who make the majority of their trips within the city limits of San Francisco. You should of course be in the city during the time of the study (being gone during a small number of days is okay though). </p>

				<p> You also need to have an <span style="font-weight:bold"> Android </span> smartphone with a data plan (Sorry – there is unfortunately no iOS version of our study app yet). </p>

				<p> Also, in order to comply with UC Berkeley regulations, you need to be 18 or older. </p> </br>

			<h4> How does one sign up? </h4>

				<p> Please go to the sign-up page on this site. </p> </br>

			<h4> What are the benefits of this research, and can participants see the results? </h4> 

				<p> This study is the first of its kind. There may be many things worth improving about public transportation in San Francisco, but with the results of the study, I would like to find out what the most important improvements are and what aspects of Muni’s service quality San Franciscans feel the strongest about. I am especially interested in how the reliability of Muni trips can be improved. </p>

				<p> I am working with the SFMTA, so your voice will be heard! And of course I will be happy to send you the results. </p>

				<p> I conducted a small survey last year on the UCSF campus to find out how unreliability affects Muni rider’s choices. The results gained widespread attention and were picked up by several urban planning blogs, by Forbes magazine and by CBC radio Canada; this encouraged me to design this much larger-scale study. </p> </br>

			<h4> How were the survey questions determined? </h4>

				<p> In case you are wondering: I personally surveyed a number of Muni riders during their evening commute in early March 2013. To those who responded: Thank you! </p> </br>

			<h4> How is the privacy of participants protected? </h4>

				<p> My study is overseen by the UC Berkeley Committee for the Protection of Human Subjects (CPHS), whose primary mission is to ensure the protection of your rights, your data and your welfare as a participant. I will treat your study data as confidentially as possible; you can find detailed information on this in the Informed Consent Document [NOTE: LINK TO PDF] for this study. </p> </br>

			<h4> How can the researchers be contacted? </h4>

				<p> If you have any questions or comments, please don’t hesitate to contact me. </p>

		</div>
	
	</div>

{% endblock content %}