<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<title>{% block title %} San Francisco Travel Quality Study {% endblock %}</title>
		<meta name="author" content="Jason Shapiro" />
		
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">

	{% block scripts %}
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/effects.js"></script>
	{% endblock scripts %}
		
		{% block head %} {% endblock head %}
		
	</head>
	<body>

<div class="header">
	<div class="container">
		<div class="row">
			<a href="/">
			<div id="logobox" class="span1 offset3"> </div>
			<div id="titlebox" class="span7"> <h2 id="title"> San Francisco Travel Quality Study </h2> </div>
			</a>
		</div>
	</div>
</div>
	
<div id="wrapper"> 	

	<div class="navmenu">
		<ul class="navlist">
			<a href="/about/"><li> About the Study </li></a>
			<a id="signup" href="/signup/"><li> Sign Up </li></a>
			<div id="togglediv">
				<a id="instructions" href="/instructions/"><li> Instructions for Participants </li></a>
				<div id="hidden">
					<a class="1" href="/install_instructions/"><li> Installing and Uninstalling the App </li></a>
					<a class="2" href="/participation_instructions/"><li> Participating in the Study </li></a>
					<a class="3" href="/widget_instructions/"><li> Installing the Widget </li></a>
					<a class="4" href="/usingmuni/"><li> Using Muni </li></a>
				</div>
			</div>
			<div id="togglebottom">
				<a id="theresearchers" href="/team/"><li> The Researchers </li></a>
				<a href="/contact/"><li> Contact </li></a>
				<a href="/"><li> Home </li></a>
			</div>
		</ul>
	</div>
	<div class="content container">
		{% block content %} {% endblock content %}
	</div>

	<div class="footer">
		{% block footer %} <p> Copyright © 2013 <a href="http://berkeley.edu">UC Berkeley.</a></p> {% endblock footer %}
	</div>

</div>
	

	
	</body>
</html>
