<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<title>{% block title %} SF Travel Quality Study {% endblock %}</title>
		<meta name="author" content="Jason Shapiro" />
		
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">

		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		
		{% block head %} {% endblock head %}
		
	</head>
	<body>

<div class="header">
	<div class="container">
		<div class="row">
			<a href="/">
			<div id="logobox" class="span1"> </div>
			<div id="titlebox" class="span6"> <h2 id="title"> SF Travel Quality Study </h2> </div>
			</a>
		</div>
	</div>
</div>
	
<div id="wrapper"> 	

	<div class="navmenu">
		<ul class="navlist">
			<a href="/instructions/"><li> Instructions </li></a>
			<a href="/about/"><li> The Study </li></a>
			<a href="/team/"><li> The Team </li></a>
			<a href="/signup/" style="margin-top: 100px;"><li> Sign Up </li></a>
		</ul>
	</div>
	<div class="content container">
		{% block content %} {% endblock content %}
	</div>

	<div class="footer">
		{% block footer %} <p> Copyright © 2013 Jason Shapiro and <a href="http://xmobile.berkeley.edu">XLab</a> at <a href="http://berkeley.edu">UC Berkeley</a> </p> {% endblock footer %}
	</div>

</div>
	

	
	</body>
</html>
