{% extends "base.html" %}

{% block content %}


	<div title="Image Copyright © 2013 SF à gogo on flickr.com. Made available under a Creative Commons Attribution-Share Alike license" id="splashimg" class="shadow">

		<div class="row">
			<div class="span8 offset2" style="margin-top:30px;"> <h2 class="overlaytext" id="welcomemessage"> Thank You Very Much for Your Interest in Our Study! </h2> </div>
		</div>

		<div class="graybackground"></div>

		<div class="row" id="splashbanner">
			
			<div class="span10 offset1">
				<ul>
					<li> <h4 class="mediumtext overlaytext"> We are looking for anybody who regularly travels in San Francisco and who has an Android phone. It doesn’t matter whether you drive, use Muni, bike or walk. </h4> </li> 
	
					<li> <h4 class="mediumtext overlaytext"> You can help us learn how to improve the quality of public transportation in San Francisco. We are working with the SFMTA, so your feedback will be heard! </h4> </li>
				
					<li> <h4 class="mediumtext overlaytext"> As a thank you for participating, you will receive a free monthly Muni pass worth $66! To learn more, click “About the Study” on the left. </h4> </li> 
				</ul>
			</div>
		</div>

	</div>

	<a href="http://www.berkeley.edu">
		<div id="ucblogo">
		</div>
	</a>	
<!--- TODO ADD CASCADING MENU FOR INSTRUCTIONS, MOVE SIGN UP BUTTON DOWN, ADD LOGOS (SF MTA ND UC BERKELEY) TO BOTTOM  -->

	
{% endblock content %}
