{% extends "base.html" %}

{% block title %} Instructions for Participants {% endblock title %}


{% block content %}

	<div class="row">
		<div class="span9 offset1 centertext instructions"> 
			<h2> Instructions for Participants: </h2>
			<h5> This study will be five weeks long. Should you choose to participate, you will be asked to install an application on your smartphone, keep it on at all times, answer surveys, and use public transportation as you normally would. Your responsibilities will change week by week, as follows: </h5>
			<p> Pre-Study: Indicate consent by filling out the pre-survey located in your invitation email. If you are chosen to participate, you will receive an email from us confirming your enrollment in the study. </p>
			<p> Week 1: You will receive an email asking that you install our survey application on your smartphone. This application will regularly present surveys for you to fill out and use your location to determine your use of public transit. </p>
			<p> During week 1 participants will be required to:

<br>- Complete the travel habit survey contained in the email.

<br>- Install the survey application by following the instructions in the email

<br>- Answer the 2-3 surveys presented to them each day, as well as any voluntary surveys that they’d like to fill out. Each survey should take no more than one minute to complete. </p>

			<p> Week 2: The number of survey prompts you will be receiving this week will increase to around 2-3 per day. </p>
			<p> During week 2 participants will be required to:

<br>- Make at least 10 trips on public transportation, with at least two of them being non-commute trips.

<br>- Answer the 2-3 surveys presented to them each day, as well as any voluntary surveys that they’d like to fill out. </p>

			<p> Weeks 3 and 4: You are again free to choose whichever means of transportation you prefer. The number of survey prompts will decrease to about 1-2 per day, and at the end of week 4, you will receive an email containing a secondary survey about your travel habits. At this point, you may uninstall the app. </p>
			<p> During weeks 3 and 4 participants will be required to:

<br>- Answer the 1-2 surveys presented to them each day, as well as any voluntary surveys that they’d like to fill out. 
<br>- Answer the secondary travel habit survey issued via email at the end of week 4. </p>
			
			<p> Week 5: You are no longer required to keep the smartphone application installed on your phone. We might contact you with an online follow-up survey with questions on your travel choices since the week during which you used transit. </p>
			<a href="/newtomuni/"> New to Muni? </a>
		</div>
	</div>
	
{% endblock content %}