{% extends "base.html" %}

{% block title %} Instructions for Participants {% endblock title %}

{% block scripts %}
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function()
{
			$('#togglebottom').css({'margin-top': '200px'})
});
		</script>
{% endblock scripts %}

{% block content %}

	<div class="row">
		<div class="span10 offset1"> 
<h2>Instructions for Survey Participants:</h2>

<br/>

<p><b>On these pages, you will find:</b></p>

<ul id="baseinstructions">
<li><a href="/install_instructions/"><p>Instructions on how to install and uninstall the survey app</p></a></li>

<li><a href="/participation_instructions/"><p>Instructions on what your activities during the study will be. This is important, please have a look at it.</p></a></li>

<li><a href="/usingmuni/"><p>If you are new to Muni, we’ve also put together a section with useful links.</p></a></li>

<li><a href="/widget_instructions/"><p>If you were selected to be one of the widget users, here’s how to set it up.</p></a></li>

</ul>

		</div>
	</div>
	
{% endblock content %}