{% extends "base.html" %}

{% block title %} Sign Up {% endblock title %}


{% block content %}

	<div class="row">
		<div class="span10 offset1">
			<h3>
				Thank you again for your interest in participating. Here’s what you’ll need to do:
			</h3>
			<ul>
				<li> <p> Below is the informed consent form that contains all the details on this study in the standardized format required by the UC Berkeley Committee for the Protection of Human Subjects. Please review it, and if you consent to taking part in this research study, click the button below. </p> </li>
				<li> <p> You are then taken to a sign-up survey where we ask you for some basic information on you and on your travel habits. We need this information so we can assign you to the appropriate participant group for this study. </p> </li>
				<li> <p> Once the groups are finalized, you will receive an email with further instructions. </p> </li>
			</ul>


			<form action="/survey/"> 
<!---				<textarea class="surveybox" readonly="readonly">CONSENT TO PARTICIPATE IN RESEARCH
The effect of transit passengers' personal assessment of trip quality on transit rider retention.
					
Introduction					
My name is Andre Carrel. I am a Ph.D. candidate working with Professors Joan L. Walker and Raja Sengupta in the Department of Civil and Environmental Engineering at the University of California, Berkeley. We are inviting you to participate in a research study that focuses on the quality of public transportation services in San Francisco. Since we are working with transportation authorities in the city and county of San Francisco, your participation will ultimately help improve public transportation here.

Purpose
The purpose of this research study is to investigate (a) how a one-week period of public transportation use, during which you report your personal assessment of trip quality after every trip, affects your willingness to continue using public transportation, and (b) whether the provision of personal travel time information has an influence on said willingness. We are approaching this question from the point of view of regular car users and regular transit users.

Enrollment and eligibility
In order to be able to participate in this study, you must be 18 years or older, travel regularly in an area served by the San Francisco Municipal Transportation Authority, be able to read and write in English and own a smartphone (using the Android or iOS operating systems) with a data plan.
Furthermore, we are looking for participants with a variety of travel habits. When you complete the sign-up survey, we will ask you some questions about your travel habits and we will assign you to the appropriate participant group on a first-come, first-served basis. We will only be able to enroll you if your participant group is not yet full.

Procedures
The total participation time for this study is five weeks; four of these weeks you will keep a survey app installed on your smartphone, and there will be a follow-up survey after week 5. If you agree to be in this study, you will be asked to do the following:
At this point, if you consent to taking part in this research, you will fill out a pre-survey that asks for some information on your daily travel habits as well as basic demographic information.
If you are chosen to participate (i.e., if your participant category is not yet full), you will receive an email from us confirming your enrollment in the study.
In week 1, you will receive an email with instructions on how to install and uninstall a survey application on your smartphone. This application will regularly present smartphone surveys to you and will track your travel patterns via GPS. The data will be used to identify whether you traveled by public transportation and how long it took you. You are free to uninstall the app anytime if wish to leave the study. The email will also include a link to an online survey of about 10 minutes regarding your travel habits and attitudes.
We will provide you with a free transit pass for the duration of the study. This pass will be loaded onto your Clipper card. If you do not have a Clipper card, we will send you one.
During week 1 you will answer 3-4 surveys on your smartphone. You will receive an alert on your phone when it is time to complete one of the phone surveys. A smartphone survey will take less than 60 seconds to complete.
During week 2, we ask you to make at least 10 trips on public transportation, of which at least 2 should be non-commute trips. During this week, you will be asked on a regular basis to give us feedback via smartphone surveys about the quality of the trips you made on transit. In total, you will receive about 2-3 alerts per day, plus you are free to initiate a survey whenever you like.
During weeks 3 and 4, you are again free to choose whichever means of transportation you prefer. You are asked to keep the survey app running during this time, and you will receive another 1-2 smartphone survey prompts per day. At the end of week 4, you will receive a link to a second online survey about your travel habits. At this point, you may uninstall the app.
After week 5, we may contact you with an online follow-up survey with questions on your travel choices since the week during which you used transit. This should take about 5 minutes to complete.
You might be randomly selected to install a widget on the home screen of your phone so that you see it every time you look at your phone. The widget will show the travel times that you experienced on transit the previous day. Aside from installing the widget, this requires no further action on your part.
The smartphone surveys contain an optional question asking you to explain why you feel the way you indicated about the trip. If you wish to answer this question, you will have the option to either fill in a text box or provide an audio recording.
Lastly, for the purpose of identifying the mode of transportation you are using and for an exploratory analysis to investigate whether we can correlate muscle tension identified through the accelerometer data with sentiment in future surveys, the survey app will also be collecting accelerometer data. This does not require any active participation on your part.

Study time
You will be enrolled in this study for a total of five weeks. Participation will involve four weeks during which you will keep the survey app installed. In total, responding to the surveys should not take more than one hour of your time.

Study location
All surveys will take place online or on your smartphone.

Benefits
We hope that the information gained from the study will help us learn how public transportation in San Francisco can be improved, and we will communicate this to the respective transportation agencies. Furthermore, if you are randomly selected to be part of a specific group of participants, we will give you personalized travel time information about your public transportation trips.

Risks/Discomforts
There is a potential risk of accident if you were to react to a survey prompt on your phone while driving and thus become distracted from driving. As a general rule, you should only respond to survey prompts when it is safe to do so, and you should never react to them when you are driving.
Some of the research questions may make you uncomfortable or upset. You are free to decline to answer any questions you don't wish to, or to stop taking the survey at any time.
Breach of confidentiality: As with all research, there is a chance that confidentiality could be compromised; however, we are taking all possible precautions to minimize this risk.

Confidentiality
Your study data will be handled as confidentially as possible. Any personally identifiable information, names or addresses will never be used in the publication or presentation of the material.
To minimize the risks to confidentiality, we will do the following:
Names, addresses, device ID numbers and IP addresses will be removed from the data and destroyed (i.e., physically overwritten on disk) at the conclusion of the study.
Your research records, including survey responses, phone trace data and audio recordings (if provided), will be stored on a secured, encrypted server and only transmitted via encrypted connections.
Only members of the UC Berkeley research group will have access to the servers that hold your data. The only case in which your personal information would be given out would be if ordered by a judge. Amazon Inc. and Qualtrics (our server host and survey engine provider, respectively) do not access any data stored on the servers except if ordered to do so by a judge.

Future use of study data:
After names, addresses, device ID numbers and IP addresses have been removed, the remaining data set (including survey responses, location traces and voice recordings) will be retained for future research projects and education by myself and collaborators at UC Berkeley. If you have provided us with audio recordings, they will be sorted or transcribed by UC Berkeley researchers.
We may share the location traces and survey responses with other researchers with whom we are collaborating. The same measures described above will be taken to protect confidentiality of this study data, and anybody collaborating with us will need to sign a confidentiality agreement. The recordings will not be shared outside of our research group or published in any way.
Furthermore, we will share certain data with two organizations that have been involved in this study: The San Francisco Municipal Transportation Agency (SFMTA) and the San Francisco County Transportation Authority (SFCTA). We will share the survey results and travel diaries with them, but we will remove names, addresses of your home/work location (if you shared them with us), device ID numbers and IP addresses from the data (individual participants will only be identified by a numeric participant ID). Also, in the trip diaries we share with these two organizations, the exact origin and destination locations of your trips will be masked to protect your privacy: origins and destinations will only be accurate to the intersection level.

Compensation/Payment
You will receive a transit pass free of charge, valid for the month during which you participate in the study. This pass will be loaded onto your Clipper card when you begin participating in the study.
OPTION 2: Upon completing the study and performing all study-related activities, you will also receive a cash payment of 50 USD as a check or gift card mailed to you within 4 to 8 weeks. Compensation will not be prorated if you decide to leave the study early.
OPTION 3: Upon completing the study and performing all study-related activities, you will also be entered into a drawing. In total, we will draw 20 cash prizes of 100 USD each. If you win, we will notify you by email and you will receive your cash payment as a check or gift card mailed to you within 4 to 8 weeks. Compensation will not be prorated if you decide to leave the study early. In total, there will be between 200 and 1000 participants, so your chance of winning is between 10% and 2%.

Costs
You will not be charged for any of the study activities. However, depending on your cellphone plan, you might incur charges for your wireless data connection. We anticipate that over the course of this study, our app will upload/download approximately 2MB of data.

Rights
Participation in research is completely voluntary.
You have the right to decline to participate or to withdraw at any point in this study without penalty or loss of benefits to which you are otherwise entitled.
If you wish to withdraw from the study, you need to uninstall the app from your phone. I would appreciate if you sent me an email (sftravelstudy@berkeley.edu) to inform me you are withdrawing so that I know this is not due to an app malfunction, but said email is not mandatory.

Questions
If you have any questions or concerns about this study, you may contact me, Andre Carrel, at sftravelstudy@berkeley.edu.
If you have any questions or concerns about your rights and treatment as a research subject, you may contact the office of UC Berkeley's Committee for the Protection of Human Subjects, at 510-642-7461 or subjects@berkeley.edu.

Consent
If you agree to take part in this research, please print a copy of this document to keep for future reference, fill out the following recruitment survey and click “Submit”. Otherwise, please close this browser window.
 </textarea>
 ------->
			</br> 
				<p> View the consent form as a <a href="/static/img/consent.pdf"> PDF. </a> </p> </br>
				<a href="https://atrial.qualtrics.com/SE/?SID=SV_7OJBOZN0jNjVcAB"><div id="consentbutton"> <p>I Consent to Participating in this Research</p> </div></a>
			</form>
		</div>
	</div>

{% endblock content %}