{% extends "base.html" %}

{% block title %} The Research Team {% endblock title %}


{% block content %}

	<div class='row'>
		<div class='span4 offset4'>
			<p> blurb about team </p>
		</div>
	</div>

	<div class='row'>
		<div class='span2 offset2 joan box'> <h4> Joan Walker </h4> <img src="/static/img/joan.jpg"> <p> blurb </p> </div>
		<div class='span2 offset1 raja box'> <h4> Raja Sengupta </h4> <img src="/static/img/raja.jpg"> <p> blurb </p> </div>
		<div class='span2 offset1 andre box'> <h4> Andre Carrel </h4> <img src="andre"> <p> blurb </p> </div>
	</div>

{% endblock content %}